/* button 1*/

.button1{
    position: relative;
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #03a9f4;
    border-radius: 6px;
    transition: .4s;
    padding: 16px 50px;
}

.button1_up{
    color: #03a9f4;
    font-weight: 500;
    letter-spacing: 2px;
}

.button1_up:hover, 
.button1:focus{
    border-color: #03a9f4;
    color: #000;
    box-shadow: inset 0 -4em 0 0 #03a9f4;
}

/* button 2*/

@keyframes button2_pulsate{
    0%{
        box-shadow: 0 0 25px #df3c4f, 0 0 25px #e2969f;
    }
}

.button2{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #df3c4f;
    padding: 16px 50px;
    border: 2px solid #df3c4f;
    border-radius: 6px;
    font-weight: 500;
}

.button2:hover{
    animation: button2_pulsate 1s ease-in-out;
}

/* button 3*/

.button3{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #ff7f27;
    padding: 16px 50px;
    transition: .5s;
}

.button3::before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #ff7f27;
    border-left: 2px solid #ff7f27;
    transition: .4s;
    transition-delay: .4s;   
}

.button3::after{
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #ff7f27;
    border-right: 2px solid #ff7f27;
    transition: .4s;
    transition-delay: .4s;   
}

.button3:hover::before, 
.button3:hover::after{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
    border-radius: 6px;
}

.button3:hover{
    background: #ff7f27;
    color: #000;
    box-shadow: 0 0 50px #ff7f27;
    transition-delay: .5s;
    border-radius: 6px;
}

/* button 4*/

.button4{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 50px;
    color: #fff;
    border-radius: 6px;
    outline: 2px solid #fff;
    overflow: hidden;
    transition: color 1s;
    font-weight: 500;
    z-index: 1;
}

.button4:hover{
    color: #000;

}

.button4::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(35deg);
    transition: width 1s;
    z-index: -1;
}

.button4:hover::before{
    width: 150%;
}

/* button 5*/

.button5{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 50px;
    color: #42bf37;
    border-radius: 6px;
    outline: 2px solid #42bf37;
    overflow: hidden;
    transition: color 1s;
    font-weight: 500;
    z-index: 1;
}

.button5:hover{
    color: #000;
}

.button5::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #42bf37;
    transform: skewX(35deg);
    transition: width 1s;
    z-index: -1;
}

.button5::after{
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 0;
    height: 100%;
    background-color: #42bf37;
    transform: skewX(35deg);
    transition: width 1s;
    z-index: -1;
}

.button5:hover::before,
.button5:hover::after{
    width: 100%;
}

/* button 5*/

.button6{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 50px;
    color: #8fbc8f;
    font-weight: 500;
    transition: .4s;
    transition-delay: .4s;
}

.button6:hover{
    background-color: #8fbc8f;
    color: #000;
}

.button6::before{
    content: "";
    position: absolute;
    border-bottom: 4px solid #000;
    bottom: 0;
    left: 0;
    width: 0;
    transition: .4s;
    transition-delay: .4s;

}

.button6:hover::before{
    width: 100%;
    height: 10px;
}

/* button 7 */

.button7{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 50px;
    color: #fff;
    font-weight: 500;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 6px;
    z-index: 1;
}

.button7:hover{
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.button7::before{
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .4s;
}

.button7:hover::before{
    filter: blur(20px);
    opacity: 1;
    animation: animate 6s linear infinite;
}